streamlit==1.45.0
pandas==2.3.2
pymysql==1.1.1
sqlalchemy==2.0.40
openpyxl==3.1.5
numpy>=2.2.4
python-dateutil==2.8.2
Levenshtein==0.27.1
dateparser==1.2.1
dnspython==2.7.0
email-validator==2.2.0
ftfy==6.3.1
fuzzywuzzy==0.18.0
phonenumbers==9.0.4
python-Levenshtein==0.27.1
python-dotenv==1.1.0
mysql-connector-python==9.3.0
scikit-learn==1.6.1
plotly==6.0.1
openai==1.102.0
tiktoken==0.11.0

